.container-contact {
    padding: 10px 0 20px;
}

.contact-title {
    margin-bottom: 1rem;
}
.contact-text {
    font-size: 1.2rem;
}

.contact-section {
    margin: auto;
}

@media (max-width: 544px) {  
    .container-contact {
        padding:2vw;
    }
}