

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}


.jumbotron-header {
  background-color:#282c34;
}

.header-name {
 position: relative;
 display: inline;
 background: linear-gradient(to right, royalblue, royalblue 50%, white 50%);

 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-size: 200% 100%;
 background-position: 100%;
 transition: background-position 275ms ease;
 padding-left: 3px;

}
.header-name:hover {
  background-position: 0 100%;
}
